<div class="row">
<div class="col-md-12">
<h2>Departments</h2>
<hr>
    {{#if departments}}
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Department Number</th>
                    <th>Department Name</th>
                </tr>
            {{#each departments}}
                <tr>
                    <td><a href="/employees?department={{this.departmentId}}">{{this.departmentId}}</a></td>  
                    <td><a href="/employees?department={{this.departmentId}}">{{this.departmentName}}</a></td>
                </tr>
            {{/each}}
            </table>
        </div>
    {{else}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/if}}
</div>
</div>