{{#if employee}}
<div class="row">
<div class="col-md-12">
<h2>{{employee.firstName}} {{ employee.lastName}} - Employee:
{{ employee.employeeNum}}</h2>
<hr />
<form method="post" action="/employee/update">
<fieldset>
    <legend>Personal Information</legend>
    <input name="employeeNum" value="{{employee.employeeNum}}" class="hidden"/>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input class="form-control" id="firstName" name="firstName" type="text"
                value="{{ employee.firstName}}" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input class="form-control" id="lastName" name="lastName" type="text"
                value="{{ employee.lastName}}" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" id="email" name="email" type="email"
                value="{{ employee.email}}" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="SSN">Social Security Number:</label>
                <input class="form-control" id="SSN" name="SSN" type="text"
                value="{{ employee.SSN}}" readonly/>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="addressStreet">Address (Street):</label>
                <input class="form-control" id="addressStreet" name="addressStreet" type="text"
                value="{{ employee.addressStreet}}" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="addressCity">Address (City):</label>
                <input class="form-control" id="addressCity" name="addressCity" type="text"
                value="{{ employee.addressCity}}" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="addressState">Address (State):</label>
                <input class="form-control" id="addressStreet" name="addressState" type="text"
                value="{{ employee.addressState}}" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="addressPostal">Address (Zip Code):</label>
                <input class="form-control" id="addressPostal" name="addressPostal" type="text"
                value="{{ employee.addressPostal}}" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="isManager">Manager:</label>
                <input class="form-control" id="isManager" name="isManager" type="checkbox"
                {{#if employee.isManager}} checked {{/if}} />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="employeeManagerNum">Employee's Manager Number:</label>
                <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text"
                value="{{ employee.employeeManagerNum}}" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="status_ft">Full Time</label>
                <input  id="status_ft" name="status" type="radio" value="Full Time" {{#equal employee.status "Full Time" }} checked {{/equal}} />
                <label for="status_pt">Part Time</label>
                <input  id="status_pt" name="status" type="radio" value="Part Time" {{#equal employee.status "Part Time" }} checked {{/equal}}/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="department">Department:</label>
                <select name="department" id="department">
                    <option {{#equal employee.department "1" }} selected {{/equal}} value="1">1</option>
                    <option {{#equal employee.department "2" }} selected {{/equal}} value="2">2</option>
                    <option {{#equal employee.department "3" }} selected {{/equal}} value="3">3</option>
                    <option {{#equal employee.department "4" }} selected {{/equal}} value="4">4</option>
                    <option {{#equal employee.department "5" }} selected {{/equal}} value="5">5</option>
                    <option {{#equal employee.department "6" }} selected {{/equal}} value="6">6</option>
                    <option {{#equal employee.department "7" }} selected {{/equal}} value="7">7</option>
                </select>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="hireDate">Hire Date</label>
                <input class="form-control" id="hireDate" name="hireDate" type="text"
                value="{{ employee.hireDate}}" readonly/>
            </div>
        </div>
    </div>
</fieldset>
<hr />
<input type="submit" class="btn btn-primary pull-right" value="Update Employee" />
<br/><br /><br />
    
</form>
</div>
</div>
{{else}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
{{/if}}